{% extends 'base.html.twig' %}

{% block title %}Kotopo - Contact{% endblock %}

{% block body %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div>
                    <div class="card card-plain text-center">
                        <h4 class="font-weight-bolder">Formulaire de contact</h4>
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success mt-4">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="card-body text-start">
                            {{ form_start(form) }}
                            <div class="d-flex justify-content-between">
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.email) }}
                            </div>
                            {{ form_row(form.subject) }}
                            {{ form_row(form.message) }}
                            {{ form_row(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
