<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo.png') }}">
        <title>
            Kotopo
        </title>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Font Awesome Icons -->
{#        <link href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" rel="stylesheet" >#}
        <!-- CSS Files -->
        <title>{% block title %}Welcome!{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center px-5 py-3">
            <img class="pr-5" src="{{ asset('build/img/logo.png') }}" alt="logo de l'association">
            <h1 class="flex-grow-1 text-center">Carte des boissons</h1>
        </div>

        <div class="container col-xl-4 col-lg-5 col-md-7 mx-auto">
            <h2 class="text-center">Alcool</h2>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">AU TEMPS POUR MOI</p><p class="text-bold">4,50€</p></div>
                <p>Bière blanche</p>
            </div>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">L'AIR DU TEMPS</p><p class="text-bold">4,50€</p></div>
                <p >Bière ambrée</p>
            </div>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">LA NUIT DES TEMPS</p><p class="text-bold">4,50€</p></div>
                <p>Bière brune</p>
            </div>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">AU FILS DU TEMPS</p><p class="text-bold">4,50€</p></div>
                <p>Bière blonde</p>
            </div>
            <hr>
            <h2 class="text-center">Softs</h2>
            <div class="d-flex justify-content-between"><p class="text-bold">COCA COLA</p><p class="text-bold">3,00€</p></div> <div class="d-flex justify-content-between"><p class="text-bold">COCA COLA ZERO</p><p class="text-bold">3,00€</p></div> <div class="d-flex justify-content-between"><p class="text-bold">LIMONADE</p><p class="text-bold">3,00€</p></div> <div class="d-flex justify-content-between"><p class="text-bold">PERRIER</p><p class="text-bold">2,50€</p></div>
            <hr>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">SIROPS</p><p class="text-bold">2,50€</p></div>
                <p>Grenadine, menthe, citron, cassis, pêche</p>
            </div>
            <h2 class="text-center">Boissons chaudes</h2>
            <div>
                <div class="d-flex justify-content-between"><p class="text-bold">COMPOSITION DU CIEL</p><p class="text-bold">3,00€</p></div>
                <p>Thé noir parfumé</p>
            </div> <div>
                <div class="d-flex justify-content-between"><p class="text-bold">MENTHE</p><p class="text-bold">3,00€</p></div>
                <p>Thé vert parfumé</p>
            </div> <div>
                <div class="d-flex justify-content-between"><p class="text-bold">NURELIA</p><p class="text-bold">3,00€</p></div>
                <p>Thé noir</p>
            </div>
            <div class="d-flex justify-content-between"><p class="text-bold">CHOCOLAT</p><p class="text-bold">4,50€</p></div>
        </div>
        {% include 'partials/footer.html.twig' %}
    </body>

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</html>
{#{% extends 'base.html.twig' %}

{% block title %}Hello DrinkMenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour !</h1>
<img src="{{ '/var/www/kotopo/assets/img/logo.png'}}" alt="te">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/kotopo/src/Controller/DrinkMenuController.php'|file_link(0) }}">src/Controller/DrinkMenuController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/kotopo/templates/drink_menu/drink_menu.html.twig'|file_link(0) }}">templates/drink_menu/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}#}
