<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo.png') }}">
        <title>
            Kotopo
        </title>

    <style>
        body, html{
            margin: 0;
            background-color: #0E0028;
        }

        h1, h2, li, a {
            text-align: center;
        }

        p, h1, h2, li, a, hr{
            color: #FFFEFF;
        }
        a {
            text-decoration: none;
        }
        li {
            list-style: none;
            margin-left: -3em;
        }
        hr {
            width: 50%;
        }
        .drink-and-price-line {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }
        .description {
            margin-top: -0.5em;
        }
        .footer {
            text-align: center;
        }
    </style>

        <!--     Fonts and icons     -->
{#        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />#}
        <!-- Font Awesome Icons -->
{#        <link href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" rel="stylesheet" >#}
        <!-- CSS Files -->
{#       <title>{% block title %}Welcome!{% endblock %}</title>#}


{#        {{ encore_entry_link_tags('app') }}#}
{#        {% block stylesheets %}#}
{#        {% endblock %}#}
    </head>
    <body>
        <div style="width: 80%; margin: auto; display: flex">
            <img style="width: 100px; height: 100px" src="{{ asset('build/img/logo.png') }}" alt="logo de l'association">
            <img  style="width: 100px; height: 100px" src="/var/www/domain/images/myimage.jpg" alt="logo de l'association" />
            <h1  style="color:white; flex-grow: 2; ">Carte des boissons</h1>
        </div>

        <div style="width: 50%; margin: auto;">
            <h2>Alcool</h2>

            <div>
                <div class="drink-and-price-line">
                    <p>AU TEMPS POUR MOI</p>
                    <p>4,50€</p>
                </div>
                <p class="description">Bière blanche</p>
            </div>

            <div>
                <div class="drink-and-price-line">
                    <p>L'AIR DU TEMPS</p>
                    <p>4,50€</p>
                </div>
                <p class="description" >Bière ambrée</p>
            </div>


            <div>
                <div class="drink-and-price-line">
                    <p>LA NUIT DES TEMPS</p>
                    <p>4,50€</p>
                </div>
                <p class="description">Bière brune</p>
            </div>

            <div>
                <div class="drink-and-price-line">
                    <p>AU FILS DU TEMPS</p>
                    <p>4,50€</p>
                </div>
                <p class="description">Bière blonde</p>
            </div>
            <hr>

            <h2 class="text-center">Softs</h2>

            <div class="drink-and-price-line">
                <p>COCA COLA</p>
                <p>3,00€</p>
            </div>

            <div class="drink-and-price-line">
                <p>COCA COLA ZERO</p>
                <p>3,00€</p>
            </div>

            <div class="drink-and-price-line">
                <p>LIMONADE</p>
                <p>3,00€</p>
            </div>

            <div class="drink-and-price-line">
                <p>PERRIER</p>
                <p>2,50€</p>
            </div>


            <div>
                <div class="drink-and-price-line">
                    <p>SIROPS</p>
                    <p>2,50€</p>
                </div>
                <p class="description">Grenadine, menthe, citron, cassis, pêche</p>
            </div>
            <hr>


            <h2 class="text-center">Boissons chaudes</h2>
            <div>
                <div class="drink-and-price-line">
                    <p>COMPOSITION DU CIEL</p>
                    <p>3,00€</p>
                </div>
                <p class="description">Thé noir parfumé</p>
            </div>

            <div>
                <div class="drink-and-price-line">
                    <p>MENTHE</p>
                    <p>3,00€</p>
                </div>
                <p class="description">Thé vert parfumé</p>
            </div>

            <div>
                <div class="drink-and-price-line">
                    <p>NURELIA</p>
                    <p>3,00€</p>
                </div>
                <p class="description">Thé noir</p>
            </div>
            <div class="drink-and-price-line">
                <p>CHOCOLAT</p>
                <p>4,50€</p>
            </div>
        </div>

        <div class="footer">
            <hr style="width: 120%; border-top: none">
            {% include 'partials/footer.html.twig' %}
        </div>
    </body>

{#</html>#}
{#{% extends 'base.html.twig' %}

{% block title %}Hello DrinkMenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour !</h1>
<img src="{{ '/var/www/kotopo/assets/img/logo.png'}}" alt="te">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/kotopo/src/Controller/DrinkMenuController.php'|file_link(0) }}">src/Controller/DrinkMenuController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/kotopo/templates/drink_menu/drink_menu.html.twig'|file_link(0) }}">templates/drink_menu/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}#}
