{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                        <div class="card card-plain text-center">
                            <h4 class="font-weight-bolder">Inscription</h4>
                            <div class="card-body text-start">
                                {{ form_start(form) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.cardNumber) }}
                                {{ form_row(form.gender) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.rgpdConsent) }}
                                {{ form_row(form.password) }}
                                {{ form_row(form.submit) }}
                                {{ form_end(form) }}
                            </div>

                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    <a href="{{ path('app_login') }}" class="text-primary text-gradient font-weight-bold">
                                        Déjà membre ?
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
{% endblock %}
