{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.card_number) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.rgpdConsent) }}

        <button type="submit" class="btn">M'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
