<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#"><img src="{{ asset('build/img/logo.png') }}" alt="logo de l'association"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse align-text-bottom" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active  m-auto me-3">
                <a class="active-link cursor-pointer" href="{{ path('app_home') }}">
                    Kotopo
                </a>
            </li>
            <li class="nav-item  m-auto me-3">
                <a class="active-link  cursor-pointer" href="{{ path('app_activities') }}">
                    Nos activités
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown m-auto me-3">
                    <a  class="active-link cursor-pointer dropdown-toggle"
                       id="dropdownMenuProgramme" data-bs-toggle="dropdown" aria-expanded="false">
                        Programme
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start mt-0 px-2 py-3 me-sm-n4 z-index-3 opacity-0"
                        aria-labelledby="dropdownMenuProgramme">
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_booking_calendar') }}">
                               Calendrier
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_booking_index') }}">
                                Liste des événements
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_booking_new') }}">
                                Ajouts d'un événements
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <div class="nav-item dropdown m-auto me-3">
                    <a class="active-link cursor-pointer" href="{{ path('app_booking_calendar') }}">
                        Programme
                    </a>
                </div>
            {% endif %}
            <li class="nav-item  m-auto me-3">
                <a class="active-link cursor-pointer" href="{{ path('drink_menu.pdf') }}">
                    Carte du bar
                </a>
            </li>
            <li class="nav-item m-auto me-3">
                <a class="active-link cursor-pointer" href="{{ path('app_contact') }}">
                    Contact
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item dropdown active-link m-auto me-3">
                    <a href="#" class="nav-link dropdown-toggle text-white"
                       id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start px-2 py-3 me-sm-n4 opacity-0"
                        aria-labelledby="dropdownMenuButton">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="mb-2">
                                <a class="dropdown-item cursor-pointer border-radius-md"
                                   href="{{ path('app_admin') }}">
                                    <span>Espace Admin</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_update_profil', {id: app.user.id}) }}">
                                <span>Mon profil</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_update_password', {id: app.user.id}) }}">
                                <span>Modifier mon mot de passe</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_logout') }}">
                                <span>Déconnexion</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item dropdown active-link  m-auto me-3">
                    <a href="javascript:" class="nav-link dropdown-toggle text-white"
                       id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end px-2 py-2 me-sm-n4"
                        aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_login') }}">
                                <span>Se connecter</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item cursor-pointer border-radius-md"
                               href="{{ path('app_register') }}">
                                <span>S'inscrire</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
