<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo.png') }}">
        <title>{% block title %}Kotopo - Accueil{% endblock %}</title>

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <link href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" rel="stylesheet" >
        <!-- CSS Files -->
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="g-sidenav-show">
            {{ include('partials/sidebar.html.twig') }}
        <main class="main-content position-relative border-radius-lg">
            {{ include('partials/navbar.html.twig') }}

        <div class="position-relative overflow-auto">
            <div class="body container-fluid d-flex flex-column min-vh-90">
                {% block body %}{% endblock %}
                {% include 'partials/footer.html.twig' %}
            </div>
        </div>
        </main>

    </body>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</html>
