<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/img/logo.png') }}">
        <title>
            Kotopo
        </title>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.0/css/all.css"
        <!-- CSS Files -->
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {{ include('partials/navbar.html.twig') }}
{#        <section class="d-flex main-section">
            {{ include('partials/sidebar.html.twig') }}#}
            <div>{% block body %}{% endblock %}</div>
{#        </section>#}
        {{ include('partials/footer.html.twig') }}
    </body>
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</html>
